.about__headline {
  font-size: 3.9rem;
  text-align: center;
  margin: 1em auto;
}

.about__copy {
  padding: var(--main-padding);
}

.about__skills {
  font-size: .9rem;
  margin: 0 auto;
  width: 60vw;
  text-align: center;
  background-color: var(--table-bg);
}

.about__skills th {
  font-size: 1.5rem;
  padding: 1em 2em;
  border-bottom: 1px solid var(--color-dark-1);
}

.about__skills td {
  padding: 0em 2em;
  border-bottom: 1px solid var(--color-dark-1);
}

@media only screen and (max-width: 854px) {
  .about__skills td {
    display: none;
  }
}

.about__illustration {
  /* margin-top:-4em; */
  /* overflow: hidden; */
  display: flex;
  /* z-index: -1; */
  flex-direction: column;
  align-items: center;
}

.about__cv {
  display: flex;
  justify-content: center;
}

.about__cv --btn {
  background-color: var(--cloud-grey);
  font-family: 'Roboto Condensed', sans-serif;
  border-radius: 30px;
  border: none;
  font-size: 1.2rem;
  padding: .9em;
}

#foreground--buildings {
  min-width: 100%;
}

#mountains {
  min-width: 100%;
}
