
*{
    box-sizing: border-box;
}
/*? element styles*/
body{
    background-color: var(--body-bg);
    color: var(--color-dark-1);
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1rem;
}

header{
    background-color: var(--header-bg);
    display:flex;
    align-items: center;
    /* padding:var(--header-padding); */
    overflow: hidden;
    max-height: 15vh;
    justify-content: space-between;
}
@media only screen and (max-width:900px) and (orientation: landscape){
    header{
        max-height: 30vh;    
    }
    
}

nav ul{
    position: relative;
    z-index: 200;
    display:flex;
    
}
nav ul > li{
    /* padding-left:5.5em; */
    white-space: break-spaces;
}
header, footer{
    box-shadow: 3px 3px 3em var(--color-dark-2), -3px -3px 3em var(--color-dark-2);
}
footer{
    text-align:center;
    display:grid;
    place-content: center;
    position: relative;
    clear: both;
    overflow: hidden;
    
    background-color: var(--color-dark-2);
}
footer div{ 
    padding:2em;
}
footer > div >p {
    margin:1.2em 0em;
}
main{
    background-image: url('../../img/body-bg.PNG');
    background-size: contain;
    background-attachment: fixed;
    background-position: bottom right ;
    background-repeat:no-repeat;
    min-height:100vh;
    display:grid;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.6;
}
li{
    list-style: none;
}
table{
    margin:0 auto;
    text-align:center;
}

th{
    font-size:1.5rem;
    padding:1em 2em;
}
td{   
    padding:0em 2em;
    
}
@media only screen and (max-width: 854px){ 
    td{   
        display:none;
    }
}

/*? base styles for links */
a{
    /* keep the contact cta bright */
    color:var(--color-dark-1);
    text-decoration: none;
    transition: color .3s ease;
}

/*? text styles */
h1{
    font-size:2rem;
    font-weight: 700;
}
h2{
    font-size: 1.5rem;
}
img{
    max-width:100%;
}